---
import { Picture } from "@astrojs/image/components";

const {
  project: { title, desc, detail1, detail2, img, logo, textPosition = "right" },
} = Astro.props;

const layoutFlexDirection = textPosition === "top" ? "column" : textPosition === "right" ? "row-reverse" : "row";
const logoCenter = textPosition === "top" ? "center" : "flex-start";
const descTextCenter = textPosition === "top" ? "center" : "left";

const imageWidth = textPosition === "top" ? 980 : 540;
---

<style define:vars={{ layoutFlexDirection, logoCenter, descTextCenter }}>
  .project-layout {
    display: flex;
    flex-direction: var(--layoutFlexDirection);
    align-items: center;
    gap: 1.5em;
  }
  .desc {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: var(--logoCenter);
    text-align: var(--descTextCenter);
  }
  @media only screen and (max-width: 833px) {
    .project-layout {
      flex-direction: column;
      text-align: center;
    }
    .desc {
      align-items: center;
      text-align: center;
    }
  }
</style>

<div class="project-layout">
  <div class="desc">
    {logo && <img src={logo} alt="logo" height="24" />}
    <h2>
      {title}
    </h2>
    <p>{desc}</p>
    {detail1 && <p class="gray-text">{detail1}</p>}
    {detail2 && <p class="gray-text">{detail2}</p>}
  </div>
  <Picture src={img} alt={title} widths={[360, 1100]} sizes={`(max-width: 800px) 360px, ${imageWidth}px`} />
</div>
